body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  color: #000;
}

#login-container, #cadastro-container, #app-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
